{% extends 'index.html' %}
{% block meta %}{{pesquisa.title}}{% endblock %}
{% block content %}

    <div class="col-lg-8">

        <div class="card mb-4 bg-dark">
            <div class="card-header text-white">Buscar</div>
            <div class="card-body">
                <div class="input-group">
                    <form class="input-group" action="{% url 'buscar' %}" method="post">
                        {% csrf_token %}
                    <input class="form-control" type="text" placeholder="Pesquisar..." aria-label="Pesquisar..." aria-describedby="button-search" name="param" />
                    <button class="btn btn-primary" id="button-search" type="submit">ir!</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    {% if pesquisa %}
    <div class="col-lg-8">

            <!-- Post content-->
            <article class="text-white">
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{pesquisa.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Postado em {{pesquisa.data}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Transporte</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Cegonha</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{pesquisa.img}}" alt="Cehonheiros" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    {% if pesquisa.sbtitle %}
                        <h2 class="fw-bolder mb-4 mt-5">{{pesquisa.sbtitle}}</h2>
                    {% endif %}

                    <p class="fs-5 mb-4">{{pesquisa.content}}</p>

                    <p class="fs-5 mb-4 text-center">
                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:120px;height:240px;" 
                        marginwidth="0" marginheight="0" 
                        scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B077MWZRNC&asins=B077MWZRNC&linkId=1ccc9d5c19076e42af333384fb0117bd&show_border=true&link_opens_in_new_window=true">
                        </iframe>
                    </p>

                    {% if pesquisa.content_1 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_1}}</p>

                    <p class="fs-5 mb-4 text-center">

                    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                    style="width:180px;height:240px;" 
                    marginwidth="0" marginheight="0" 
                    scrolling="no" frameborder="0" 
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B09324K7SM&asins=B09324K7SM&linkId=94ebc0fa3214324d245ff16ec19409f8&show_border=true&link_opens_in_new_window=true">
                    </iframe>

                    </p>
                    {% endif %}

                    {% if pesquisa.content_2 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_2}}</p>

                    <p class="fs-5 mb-4 text-center">

                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:140px;height:260px;" 
                        marginwidth="0" marginheight="0" 
                        scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B09HRH9T54&asins=B09HRH9T54&linkId=a9e147134f8521cc78083eaff0760b72&show_border=true&link_opens_in_new_window=true">
                        </iframe>

                    </p>

                    {% endif %}

                    {% if pesquisa.content_3 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_3}}</p>

                    <p class="fs-5 mb-4 text-center">

                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:140px;height:260px;" 
                        marginwidth="0" marginheight="0" 
                        scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B09HRH9T54&asins=B09HRH9T54&linkId=a9e147134f8521cc78083eaff0760b72&show_border=true&link_opens_in_new_window=true">
                        </iframe>

                    </p>

                    {% endif %}

                    {% if pesquisa.content_4 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_4}}</p>

                    <p class="fs-5 mb-4 text-center">

                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:140px;height:260px;" 
                        marginwidth="0" marginheight="0" 
                        scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B09HRH9T54&asins=B09HRH9T54&linkId=a9e147134f8521cc78083eaff0760b72&show_border=true&link_opens_in_new_window=true">
                        </iframe>

                    </p>

                    {% endif %}

                    {% if pesquisa.content_5 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_5}}</p>

                    <p class="fs-5 mb-4 text-center">

                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:120px;height:240px;" marginwidth="0" 
                        marginheight="0" scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B0893MD3PY&asins=B0893MD3PY&linkId=6bb4a1274a81bfab46c667c96d33583c&show_border=true&link_opens_in_new_window=true">
                        </iframe>

                    </p>

                    {% endif %}

                    {% if pesquisa.content_6 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_6}}</p>

                    <p class="fs-5 mb-4 text-center">

                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" 
                        style="width:120px;height:240px;" 
                        marginwidth="0" marginheight="0" 
                        scrolling="no" frameborder="0" 
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=claudianoarau-20&language=pt_BR&marketplace=amazon&region=BR&placement=B08CC732R6&asins=B08CC732R6&linkId=24cd7da8a7547f674b299211b62124dc&show_border=true&link_opens_in_new_window=true">
                        </iframe>

                    </p>

                    {% endif %}

                </section>
            </article>

    </div>
    {% endif %}
    <script async="async" data-cfasync="false" src="//cobwebcomprehension.com/31204a990e9a1021adbff124c27485c9/invoke.js"></script>
    <div id="container-31204a990e9a1021adbff124c27485c9"></div>

{% endblock %}