{% extends 'index.html' %}
{% block meta %}{{pesquisa.title}}{% endblock %}
{% block content %}

    <div class="col-lg-8">

        <div class="card mb-4 bg-dark">
            <div class="card-header text-white">Buscar</div>
            <div class="card-body">
                <div class="input-group">
                    <form class="input-group" action="{% url 'buscar' %}" method="post">
                        {% csrf_token %}
                    <input class="form-control" type="text" placeholder="Pesquisar..." aria-label="Pesquisar..." aria-describedby="button-search" name="param" />
                    <button class="btn btn-primary" id="button-search" type="submit">ir!</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    {% if pesquisa %}
    <div class="col-lg-8">

            <!-- Post content-->
            <article class="text-white">
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{pesquisa.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Postado em {{pesquisa.data}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Transporte</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Cegonha</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{pesquisa.img}}" alt="Cehonheiros" /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    {% if pesquisa.sbtitle %}
                        <h2 class="fw-bolder mb-4 mt-5">{{pesquisa.sbtitle}}</h2>
                    {% endif %}

                    <p class="fs-5 mb-4">{{pesquisa.content}}</p>
                    {% if pesquisa.content_1 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_1}}</p>
                    {% endif %}

                    {% if pesquisa.content_2 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_2}}</p>
                    {% endif %}

                    {% if pesquisa.content_3 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_3}}</p>
                    {% endif %}

                    {% if pesquisa.content_4 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_4}}</p>
                    {% endif %}

                    {% if pesquisa.content_5 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_5}}</p>
                    {% endif %}

                    {% if pesquisa.content_6 %}
                    <p class="fs-5 mb-4">{{pesquisa.content_6}}</p>
                    {% endif %}

                </section>
            </article>

    </div>
    {% endif %}
    <script async="async" data-cfasync="false" src="//cobwebcomprehension.com/31204a990e9a1021adbff124c27485c9/invoke.js"></script>
    <div id="container-31204a990e9a1021adbff124c27485c9"></div>

{% endblock %}